<h2>By Region</h2>

<hr>

<div class="row">
  <div class="col d-flex gap-2 justify-content-center">
    @for (region of regions; track $index) {
    <button
      (click)="searchByRegion(region)"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
      class="btn"
    >
      {{ region }}
    </button>
    }
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>

@if(isLoading) {
<shared-loading-spinner></shared-loading-spinner>
}